@import "colors";

nav{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(236, 240, 220);
    padding: 1rem;
    position: fixed;
    
    
    

    >h4{
        color: $dark;
        padding-left: 4rem;
        text-decoration: underline;
        
    }
    
    >main{
        width: 40%;
        display: flex;
        justify-content: flex-end;


        >a{
            padding: 1rem;
            color:  rgb(46, 40, 223);
            font-weight: 800;
            text-decoration: none;

            &:hover {
                color: $dark;
                transform: scale(1.1)
               
            }
        }
    }
}