@import "colors";


@font-face {
  font-family: 'two';
  src: url('/fonts/two.otf') format('opentype'); /* Adjust the path and font format as needed */

}


.home-main{
  background-image: url('/bg/final.png'); /* Replace 'background.jpg' with your image file path */
      background-size: cover;
      width: 100%;
      height: 80vh;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;



      .home-one{
        
        width: 50%;
        height: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
        padding-left: 15rem;
        padding-top: 1rem;
        color: $dark;
      

         >h1{
            padding-bottom: 0.5rem;
            font-family: 'two';
            font-size: 3rem;
            font-weight: 900;
            
            color: $first;
            line-height: 1.1;
            letter-spacing: +0.03em;
        }


    


      >p{
        font-size: 1.2rem;
        line-height: 1.6;
        color: white;

      }

        >Button{
            max-width: 150px;
            background-color: $fav;

            &:hover {
                box-shadow: 10px 10px 0px $first;
                top: -5px;
                left: -5px;
               
            }
        }

        
        }

      .home-two{
        
        width: 50%;
        height: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 20rem;
        padding-top: 1rem;
      
       
      
       

        >img{
            height: 15rem;
            width: 15rem;
            border: 5px solid white;
            
            
                          
            
        }

     
      }

 }

    






  

    