@import "colors";

.home-main{
    background-color: white;
    width: 100%;
    padding-top: 5rem;
    display: flex;
    align-items: center;
    

    .home-one{

        width: 50%;   
        color: $dark;
        display: flex;
        flex-direction: column;
        padding-left: 5rem;
        padding-right: 5rem;

        >h1{
            align-self: flex-start;
            padding-bottom: 1rem;
        }
    }

    .home-two img{
        width: 50%;
        height: 50%;
        display: flex;
        
      
        
    }
}
